body, html {
	background-color: aquamarine;
}

/*
.jumbotron{
    position: relative;
    background-image: url("./resources/waterpark.jpg");
    /*
    width: 100%;
    height: 100%;
    
    background-size: cover;
    overflow: hidden;
    text-align: center;    
}
*/

.container{
	color: black;
}

.navbar-collapse{
    text-align: center;
    background-color: aquamarine;
}


.jumbotron {
	height: 500px; 
	text-align: left;
  color: white;
  background: limegreen;
  
  background-image: url(./resources/waterpark.jpg) no-repeat center center;
  background-size: cover;
}

.jumbotron .container {
	position: relative;
	top: 220px;
}

#splash {
	width: 60%;
	height: 60%;
	border-radius: 10%;
}

.col-md-6 {
	background: #F9F10C;
}

.col-md-6 img{
	height: 50rem;
	border-radius: 100%;
}

.end{
	background: #FF5733;
	width: 100%;
	height: 200px;
}

.third{
	margin-top: 100px;
	font-family: monospace;
	font-size: 1.5rem;
}